[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*
Icon=/usr/share/icons/default.kde4/base/256x256/devices/printer-laser.png
Actions=print-selphy



[Desktop Action print-selphy]
Name=Selphy-Print
Icon=/usr/share/icons/default.kde4/base/256x256/devices/printer-laser.png
Exec=~/Scripts/print-selphy -p  %F


